/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.page-header #viewcart {
  float: right;
  position: relative;
  bottom: 30px;
}

.row .card {
  border-bottom: 1px solid #EEE;
}

.row .card a {
  color: #f15a29;
}

.row h5 a {
  font-weight: bold;
}