<div class="page-header">
      <h1>Viia Tours Top Excursions</h1>
      <div id="links">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li id="viewcart"><span class="glyphicon glyphicon-shopping-cart"></span> (<span class="itemcount"></span>)</li>
      </ul>
  </div> <!-- end links -->
</div> <!-- end page-header -->