<% include partials/header %>

<div class="container">
    <div class="page-header">
      <h1>Viia Tours Top Excursions</h1>
      <div id="links">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li id="viewcart"><span class="glyphicon glyphicon-shopping-cart"></span> (<span class="itemcount"></span>)</li>
      </ul>
  </div> <!-- end links -->
</div> <!-- end page-header --> 

<p class="lead">Find the best adventure and sightseeing activities in the area.</p>    

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <a href="snorkeling.html"><img src="http://viiatours.com/wp-content/uploads/2016/01/viia-combo-fetured.jpg" alt="tours" class="img-thumbnail"></a>
      <h5><a href="snorkeling.html">SNORKELING + BUGGY</a></h5>
      <h4>$90</h4>
  </div>
</div>

<div class="col-md-4">
    <div class="card">
      <a href="zipline.html"><img src="http://viiatours.com/wp-content/uploads/2015/10/zipline-canopy-puntacana.jpg" alt="tours" class="img-thumbnail"></a>
      <h5><a href="zipline.html">ZIP LINE + BUGGY</a></h5>
      <h4>$140</h4>
  </div>
</div>

<div class="col-md-4">
    <div class="card">
      <a href="dune.html"><img src="http://viiatours.com/wp-content/uploads/2016/01/dune-buggy.jpg" alt="tours" class="img-thumbnail"></a>
      <h5><a href="dune.html">DUNE BUGGY INDIVIDUAL</a></h5>
      <h4>$85</h4>
  </div>
</div>          
</div> <!-- row -->

</div> <!-- container -->

<footer class="footer">
    <div class="container">
      <p class="text-muted">© 2016 VIIA Tours | All right reserved</p>
  </div>
</footer>

<% include partials/footer %>