<% include ../partials/head %>

<!-- header/menu -->
<% include ../partials/header %>

<div class="container">

    <h2><%= tour.name %></h2>

</div> <!-- /.container -->

<!-- footer -->
<% include ../partials/footer %>