<% include ../partials/head %>

<!-- nav menu -->
<% include partials/nav %>

<div class="container">

    <h2><%= tours.name %></h2>

</div> <!-- /.container -->

<!-- footer -->
<% include ../partials/footer %>