<% include ../partials/head %>

<!-- nav menu -->
<% include ../partials/nav %>

<div class="container">
 
    <h3>FAQs page</h3>

</div> <!-- /.container -->

<!-- footer -->
<% include ../partials/footer %>