<% include ../partials/head %>

<div class="container">
    
    <!-- header/menu -->
    <% include ../partials/header %>

    <h3>FAQs page</h3>

</div> <!-- /.container -->

<!-- footer -->
<% include ../partials/footer %>